.ge-icon--data-type-graph-belief,
.ge-port--data-type-graph-belief .ge-port__icon {
    --unity-image: resource("Assets/_heroes/Systems/GOAP Graph/Editor/Icons/belief.png");
}

.ge-icon--data-type-graph-action,
.ge-port--data-type-graph-action .ge-port__icon {
    --unity-image: resource("Assets/_heroes/Systems/GOAP Graph/Editor/Icons/action.png");
}

.ge-icon--data-type-graph-goal,
.ge-port--data-type-graph-goal .ge-port__icon {
    --unity-image: resource("Assets/_heroes/Systems/GOAP Graph/Editor/Icons/goal.png");
}

.ge-icon--data-type-graph-idle-action,
.ge-port--data-type-graph-idle-action .ge-port__icon {
    --unity-image: resource("Assets/_heroes/Systems/GOAP Graph/Editor/Icons/idle.png");
}

.ge-icon--data-type-graph-goal-heuristic-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-goal-importance-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-goal-achieved-defintion.ge-port--direction-input {
    --unity-image: var(--input-icon);
}

.ge-icon--data-type-graph-goal-heuristic-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-goal-importance-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-goal-achieved-defintion.ge-port--direction-output {
    --unity-image: var(--output-icon);
}

.ge-icon--data-type-graph-goal-heuristic-defintion,
.ge-icon--data-type-graph-goal-importance-defintion,
.ge-icon--data-type-graph-goal-achieved-defintion {
    --unity-image-tint-color: var(--port-type-execution);
}

.ge-port--data-type-graph-goal-heuristic-defintion,
.ge-port--data-type-graph-goal-importance-defintion,
.ge-port--data-type-graph-goal-achieved-defintion {
    --port-color: var(--port-type-execution);
}

.ge-icon--data-type-graph-action-precondition-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-action-effect-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-action-implementation-can-perform-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-action-implementation-complete-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-action-implementation-step-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-action-time-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-idle-implementation-can-perform-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-idle-implementation-complete-defintion.ge-port--direction-input,
.ge-icon--data-type-graph-idle-implementation-step-defintion.ge-port--direction-input {
    --unity-image: var(--input-icon);
}

.ge-icon--data-type-graph-action-precondition-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-action-effect-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-action-implementation-can-perform-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-action-implementation-complete-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-action-implementation-step-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-action-time-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-idle-implementation-can-perform-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-idle-implementation-complete-defintion.ge-port--direction-output,
.ge-icon--data-type-graph-idle-implementation-step-defintion.ge-port--direction-output {
    --unity-image: var(--output-icon);
}

.ge-icon--data-type-graph-action-precondition-defintion,
.ge-icon--data-type-graph-action-effect-defintion,
.ge-icon--data-type-graph-action-implementation-can-perform-defintion,
.ge-icon--data-type-graph-action-implementation-complete-defintion,
.ge-icon--data-type-graph-action-implementation-step-defintion,
.ge-icon--data-type-graph-action-time-defintion,
.ge-icon--data-type-graph-idle-implementation-can-perform-defintion,
.ge-icon--data-type-graph-idle-implementation-complete-defintion,
.ge-icon--data-type-graph-idle-implementation-step-defintion {
    --unity-image-tint-color: var(--port-type-execution);
}

.ge-port--data-type-graph-action-precondition-defintion,
.ge-port--data-type-graph-action-effect-defintion,
.ge-port--data-type-graph-action-implementation-can-perform-defintion,
.ge-port--data-type-graph-action-implementation-complete-defintion,
.ge-port--data-type-graph-action-implementation-step-defintion,
.ge-port--data-type-graph-action-time-defintion,
.ge-port--data-type-graph-idle-implementation-can-perform-defintion,
.ge-port--data-type-graph-idle-implementation-complete-defintion,
.ge-port--data-type-graph-idle-implementation-step-defintion {
    --port-color: var(--port-type-execution);
}
