.root .absolute {
    position: absolute
}
.root .left-0 {
    left: 0px
}
.root .top-0 {
    top: 0px
}
.root .ml-_lb_2px_rb_ {
    margin-left: 2px
}
.root .mr-_lb_2px_rb_ {
    margin-right: 2px
}
.root .flex {
    display: flex
}
.root .h-7 {
    height: 28px
}
.root .h-_lb_133px_rb_ {
    height: 133px
}
.root .h-_lb_142px_rb_ {
    height: 142px
}
.root .h-_lb_16px_rb_ {
    height: 16px
}
.root .h-_lb_20px_rb_ {
    height: 20px
}
.root .h-_lb_23px_rb_ {
    height: 23px
}
.root .h-full {
    height: 100%
}
.root .w-7 {
    width: 28px
}
.root .w-_lb_133px_rb_ {
    width: 133px
}
.root .w-_lb_36px_rb_ {
    width: 36px
}
.root .w-_lb_850px_rb_ {
    width: 850px
}
.root .w-full {
    width: 100%
}
.root .flex-row {
    flex-direction: row
}
.root .flex-col {
    flex-direction: column
}
.root .items-start {
    align-items: flex-start
}
.root .items-center {
    align-items: center
}
.root .justify-center {
    justify-content: center
}
.root .justify-between {
    justify-content: space-between
}
.root .justify-evenly {
    justify-content: space-evenly
}
.root .overflow-hidden {
    overflow: hidden
}
.root .border {
    border-width: 1px
}
.root .border-2 {
    border-width: 2px
}
.root .border-b-0 {
    border-bottom-width: 0px
}
.root .border-active {
    border-color: #00B6D7
}
.root .border-main {
    border-color: #6B0D05
}
.root .bg-main {
    background-color: #6B0D05
}
.root .bg-tertiary {
    background-color: #E8E0B2
}
.root .bg-tertiaryLight {
    background-color: #FFF7C6
}
.root .bg-contain {
    background-size: contain
}
.root .bg-center {
    background-position: center
}
.root .bg-no-repeat {
    background-repeat: no-repeat
}
.root .p-0_d_5 {
    padding: 2px
}
.root .p-1 {
    padding: 4px
}
.root .p-_lb_2px_rb_ {
    padding: 2px
}
.root .pb-2 {
    padding-bottom: 8px
}
.root .text-sm {
    font-size: 14px
}
.root .text-xs {
    font-size: 12px
}
.root .text-secondary {
    color: #FDDB1D
}
.root .text-blue-400 {
    color: #60a5fa
}
.root .text-main {
    color: #6B0D05
}
.root .duration-100 {
    transition-duration: 100ms
}
.root .ease-in-out {
    transition-timing-function: ease-in-out
}
.root .hover_c_bg-tertiaryLight:hover {
    background-color: #FFF7C6
}
.root .hover_c_text-red-500:hover {
    color: #ef4444
}
